<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nao Presentations</title>
    {% include "app/header.html" %}
</head>
<body>
<div class="container">
    <ul class="list-group">
        <div class="jumbotron">
            <h1>Ongoing NAO presentations:</h1>
        </div>
        {% for p in presentations %}
            <a href="/view/presentation/{{ p.id }}">
                <li class="list-group-item clickable">{{ p.id }} - {{ p.name }}
                    <div style="float: right"> {{ p.viewtime }}</div>
                </li>
            </a>
        {% endfor %}
    </ul>
</div>
</body>
</html>
