<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Presentation {{ p.id }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <ul class="list-group">
        <div class="jumbotron">
            <h1>Presentation {{ p.id }}: {{ p.name }}</h1>
        </div>
        {% for s in p.surveys %}
            <li class="list-group-item clickable">{{ s.id }} - {{ s.question }}
                <div style="float: right"> {{ s.viewtime }}</div>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>