<!DOCTYPE html>
<html lang="en">
<head>
    <title>Presentation {{ p.id }}</title>
    {% load static %}
    {% include "app/header.html" %}
</head>
<body>
<div class="container">
    <ul class="list-group">
        <div class="jumbotron">
            <h1>Presentation {{ p.id }}: {{ p.name }}</h1>
        </div>
        {% for s in p.surveys %}
            <a href="/view/survey/{{ s.id }}">
                <li class="list-group-item clickable">{{ s.id }} - {{ s.question }}
                    <div style="float: right"> {{ s.viewtime }}</div>
                </li>
            </a>
        {% endfor %}
    </ul>
</div>
</body>
</html>