<!DOCTYPE html>
<html lang="en">
<head>
    <title>Survey {{ s.id }}</title>
    {% load app_extras %}
    {% load static %}
    {% include "app/header.html" %}
    <style>
        .option {
            display: block;
            text-align: left;
            padding-left: 10%;
            margin-bottom: 10px;
            font-size: x-large;
        }

        html, body {
            height: 100%;
        }

        #counter {
            position: sticky;
            padding-top: 10px;
            padding-left: 10px;
            font-size: x-large;
        }
    </style>
</head>
<body>
<script>
    const currentStatus = "{{ s.status }}"
    const sid = {{ s.id }};
    const qid = {{ s.currentQuestion.id }}
        setInterval(function () {
            httpGetAsync("/survey/status/" + sid, function (resp) {
                resp = JSON.parse(resp)
                if (currentStatus !== resp["status"] || qid !== resp["qid"]) {
                    location.reload()
                }
            })
        }, 2000)

    function next() {
        httpGet(`/survey/${sid}/next`)
        location.reload()
    }

    function prev() {
        httpGet(`/survey/${sid}/prev`)
        location.reload()
    }

    function submit_answer(option) {
        const url = '/answer/survey/{{ s.currentQuestion.id }}';
        data = {"option": option}
        postData(url, data).then(data => {
            location.reload();
        })
    }

    function getDeadlineChecker(deadline) {
        let oldleftOver = deadline - Date.now()
        checker = function () {
            let newleftOver = deadline - Date.now()
            if (oldleftOver >= 0 && newleftOver < 0) {
                location.reload()
            }
            oldleftOver = newleftOver
        }
        return checker
    }

    {% if s.status|lower == "open" %}
        {% if s.currentQuestion.deadline != null or s.deadline != null %}
            {% if s.deadline != null %}
                counterId = 'survey-counter-num'
                deadline = Date.parse("{{ s.deadline.isoformat }}")
            {% else %}
                counterId = 'counter-num'
                deadline = Date.parse("{{ s.currentQuestion.deadline.isoformat }}")
            {% endif %}
            counterUpdater = () => updateCounterElement(counterId, deadline)
            initial = calculateTimeTillDeadline(deadline)
            setInterval(counterUpdater, 1000)
            {% if s.type == "auto" %}
                checker = getDeadlineChecker(deadline)
                setInterval(checker, 1000)
            {% endif %}
        {% endif %}
    {% endif %}
</script>
{#{% if s.currentQuestion.deadline != null and s.status|lower == "open" %}#}
{#    <div id="counter">Question will expire in <span id="counter-num">0:00</span></div>#}
{#{% endif %}#}
<div id="counter">
    {{ s.questions|indexOf:s.currentQuestion|add:1 }}/{{ s.questions|length }} <br/>
    {% if s.currentQuestion.deadline != null and s.status|lower == "open" %}
        Question expires in:
        <span id="counter-num" content="document.getElementById('counter-num').innerText=initial">0:00</span>
        <script>document.getElementById('counter-num').innerText = initial</script>
    {% endif %}
    {% if s.deadline != null and s.status|lower == "open" %}
        Survey timelimit:
        <span id="survey-counter-num">0:00</span>
        <script>document.getElementById('survey-counter-num').innerText = initial</script>
    {% endif %}
</div>
<div class="container" style="margin-top: max(5%, 50px)">
    <div class="jumbotron">
        <h2>{{ s.currentQuestion.question }}</h2>
        {% if s.status|lower == "closed" %}
            <small style="float: left;" class="text-muted h4"><em>Survey is closed</em></small>
        {% elif s.status|lower == "draft" %}
            <small style="float: left" class="text-muted h4"><em>Survey is not yet open</em></small>
        {% endif %}
    </div>
    {% for o in s.currentQuestion.options %}
        {% autoescape off %}
            {% buildoption s o request.session forloop.counter %}
        {% endautoescape %}
    {% endfor %}
    {% if s.type == "manual" %}
        <ul class="pager" style="margin-top: 5%">
            {% if s.questions|indexOf:s.currentQuestion != 0 %}
                <li onclick="prev()" class="previous"><a href="#">Previous</a></li>
            {% endif %}
            {% if s.questions|indexOf:s.currentQuestion != s.questions|length|add:"-1" %}
                <li onclick="next()" class="next"><a href="#">Next</a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>
</body>
</html>