<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey {{ s.id }}</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .option {
            display: block;
            text-align: left;
            padding-left: 10%;
            margin-bottom: 10px;
            font-size: x-large;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h2>{{ s.question }}</h2>
    </div>
    {% for o in s.options %}
        <div class="btn btn-primary option" style="display: block">{{ o }}</div>
    {% endfor %}
</div>
</body>
</html>